.my-btn{
    background-color: black;
    color: white;
    padding: 15px;
}

.my-btn:hover{
    color: rgb(190, 168, 168);
}


.u-animation-once {
    animation: bounceIn 1s;
    animation-direction: alternate;
    animation-iteration-count: 1;
}